{% extends "base.html" %}
{% block content %}
<h1>Picu menu</h1>
<br>
{% for vienetas in data %}
<h3>{{vienetas['pavadinimas']}}</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <a href="{{vienetas['img']}}">
        <img src="{{vienetas['img']}}" alt="{{vienetas['name']}}" width="250" height="180">
      </a>
    </div>
    <div class="col">
      <p>{{vienetas['description']}}, <i>'vegetarian: {{vienetas['veg']}}</i></p>
    </div>
    <div class="col">
      <h2>$ {{vienetas ['price']}}</h2>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}