{% extends "base.html" %}

{%block left%}
<p>some stupid shit is going on here checking the major isssue</p>
  {%endblock left%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col" align="center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
        <h5 class="card-title">Total pizza sales</h5>
        <h6 class="card-subtitle mb-2 text-muted">Sales count//Revenue</h6>
        <h1 class="card-text" ALIGN="center">{{total}} // {{total*8}}</h1>
        </div>
    </div>
    </div>
    <div class="col" align="center">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
        <h5 class="card-title">Average amount sold per day</h5>
        <h6 class="card-subtitle mb-2 text-muted">Avera sales // Revenue</h6>
        <h1 class="card-text" ALIGN="center">{{avg}} // {{avg*8}}</h1>
      </div>
    </div>
    </div>
  </div>
</div>
<br><br>

<h1 align="center">Pizza sales</h1>

<canvas id="lineChart" width="700" height="400"></canvas>
<script>
var ctx = document.getElementById('lineChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{labels | safe}},
        datasets: [{
            label: '# of Sales',
            data: {{values | safe}},
            backgroundColor:
                'rgb(100, 50, 132)',
            fill: false,
            borderWidth: 5,
            tension: 0.1
        }]
    },
    options: {
        responsive: true

    }
});
</script>
<h1>Random number count</h1>
<canvas id="barChart" width="700" height="400"></canvas>
<script>
var ctx = document.getElementById('barChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["red", "green"],
        datasets: [{
            label: '# of Sales',
            data: [2,3],
            backgroundColor:
                ['rgb(200, 50, 50)','rgb(200, 80, 132)'],
            fill: true,
            borderWidth: 1

        }]
    },
    options: {
        responsive: true
    }
});
</script>

{% endblock %}
{%block right%}

<br>
<h4>Administravimui</h4>
<a href="{{url_for('add_article')}}">Rašyti straipsnį</a>
<hr>
<a href = "{{url_for('picos_uzsakymas')}}">Uzsakyti pica</a>

{%endblock right%}