{%extends 'profile.html'%}

{%block videos%}
<br>
<div class="embed-responsive embed-responsive-16by9">
	<div class="row" align="center">
	<iframe align ="center" src= "http://78.56.90.171:8080/picture/1/frame/" allowfullscreen=""></iframe>
	</div>
</div>
	<br>
	<hr>
<div class="embed-responsive embed-responsive-16by9">

	<div class="row">
	<iframe align="center" src="https://www.youtube.com/embed/yehcnSuMoUU" allowfullscreen="">Video</iframe>
	</div>

</div>
<br>
<hr>
<br>
<div class="row">
	<div class = "col" align="center">
<iframe align="center" src="https://www.youtube.com/embed/A9eAKcE0Mnc" allowfullscreen="" width="700" height="400px" frameborder="0"></iframe>
	</div>
</div>
<br>
<hr>
<br>
{%for i in visi_video%}
<div class="row">
	<div class="col" align="center">
<iframe align="center" src="https://www.youtube.com/embed/{{i[1]}}" allowfullscreen="" width="700px" height="400px" frameborder="0">Video</iframe>
	</div>
</div>
<br>
<hr>
{%endfor%}
{%endblock videos%}
